@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.grid {
  width: 250px;
  height: 500px;
  background-color: #d9d9d9;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.mini-grid {
  width: 150px;
  height: 150px;
  background-color: #d9d9d9;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 25px;
  height: 25px;
}

.block {
  background-color: #46bdc6;
  border: 1px solid rgba(255, 255, 255, 0.52);
}

.mini-grid div {
  width: 25px;
  height: 25px;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
/*     font-size: 2em; */
#btn-start {
  background-color: black;
  font-size: 2em;
  color: white;
  padding: 20px 50px;
  border: none;
  transition: background-color 0.2s ease;
}

h3 {
  margin: 20px 0;
}

#game-over {
  position: absolute;
  top: 45%;
  left: 25%;
}

#btn-start:hover {
  background-color: #3d3d3d;
}

#btn-start:focus {
  border: none;
  outline: none;
}

.btn {
  display: none;
}
.title {
  display: none;
}
@media (max-width: 767px) {
  .btn {
    display: block;
    padding: 10px 0;
    width: 62.5px;
  }
  table {
    display: none;
  }
  .container {
    flex-direction: column;
  }
  .mini-grid {
    display: none;
  }
  .buttons {
    display: flex;
  }
  .start-and-buttons {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .right-side {
    flex-direction: column-reverse;
    width: 250px;
  }
  .title {
    display: block;
  }
  h3 {
    margin: 20px auto;
  }
}

table th {
  padding: 0 10px 10px 0;
}
