@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.grid {
  width: 250px;
  height: 500px;
  background-color: #d9d9d9;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 25px;
  height: 25px;
  /* border: 1px solid rgba(255, 255, 255, 0.52); */
  /* border-radius: 4px; */
}

.block {
  background-color: #46bdc6;
  border: 1px solid rgba(255, 255, 255, 0.52);
}
